<app-restaurant-ranking [restaurants$]="restaurants$"></app-restaurant-ranking>
<br />

<div *ngIf="!(restaurants$ | async); else restauList">loading</div>

<ng-template #restauList>
  <div *ngFor="let restau of restaurants$ | async">
    <div>Nom : {{ restau.name }}</div>
    <div>Ajouté le : {{ restau.createdAt | date: "dd/MM/yyyy à HH:mm" }}</div>
    <div>
      <button mat-stroked-button color="primary" (click)="vote(restau)">
        +
      </button>
      {{ setRankLabel(restau) }}
    </div>
    <br />
  </div>
</ng-template>
